<h1 class="header">Welcome to Pierres Bakery!  We have so many varietes of baked goods!</h1>
<h3>We'll handle all of your orders!</h3>
<a href="/vendors" clas="btn">Take me to Vendors</a>
<a href="/vendors/new" class="btn">Add a Vendor!</a>